{% extends 'main.html' %}

{% block content %}


<div class="container">

    <form method="POST" action="">
        {% csrf_token %}

        <br>
        {{form.as_p}}

        Referral Code: 
        <input type="text" name = "ref_code" /> <br>

        <input type="submit" value="Register">

    </form> <br>

    
    <p> <b> Already Registered? </b></p>
    <a href="{% url 'login' %}"> Login Here</a>

    

</div><br>

<div class="container">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <b>
            <li>{{ message }}</li>
        </b>
        {% endfor %}
    </ul>
    {% endif %}

    {% endblock content %}
</div>